@tailwind base;
@tailwind components;
@tailwind utilities;

root:{
	--h1: 2.5rem;
	--h3: 1.5rem;
	--padding-block: 1rem;
	--padding-inline: 1rem;
	--margin-block: 1rem;
	--margin-inline: 1rem;
	--font-size: 1rem;
	--font-weight: 400;
	--font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--line-height: 1.5;
	--border-radius: 0.25rem;
	--border: 1px solid #ccc;
	--box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
	--color: #333;
	--color-light: #666;
	--color-dark: #222;

}